.challenge-input {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-input-div {
    border-radius: 4px;
    background-color: black;
    padding: 4px;
    height: calc(1lh + 8px);
    display: flex;
    flex-direction: row;
}

.info-input-icon {
    width: 1lh;
    height: 1lh;
    background-position: center;
    flex-shrink: 0;
}

.info-input-credential-separator {
    font-family: monospace;
    color: white;
    margin-left: 4px;
    flex-shrink: 0;
}

.info-input-input {
    font-family: monospace;
    background: none;
    color: white;
    width: 100%;
    padding: 0;
    margin-left: 4px;
    font-size: .64rem;
}

.info-input-label {
    font-size: .8em;
}

.input-response {
     display: none;
     border: solid;
     border-radius: 4px;
     font-weight: bold;
}

.input-submit {
    margin-top: 0.5rem;
    font-size: .64rem;
    border-radius: 4px;
    background-color: var(--md-default-fg-color--lightest);
}

.input-submit:hover {
    background-color: color-mix(in hsl shorter hue, var(--md-default-fg-color--lightest), white 4%);
}

.input-submit:active {
    background-color: color-mix(in hsl shorter hue, var(--md-default-fg-color--lightest), black 4%);
}

.input-submit:disabled {
    background-color: color-mix(in hsl shorter hue, var(--md-default-fg-color--lightest), black 10%);
}
